header(id="cart-header")
	div(id="cart-title")
		span(id="cart-title")= "CART"
	div(id="cart-count")
		span(id="cart-count")= productCount

- var arr = cartProducts

ul(id="cart-list") 
	- for (var i = 0; i < arr.length; i++)
		li(class="cart-listing")
			div(class="product-name")
				p(class="product-name")= arr[i].product.name
			div(class="product-price")
				span(class="product-price")= arr[i].product.price
			div(class="cancel-section")
				button(id=arr[i].id, class="cancel-button")

div(id="total-cost-container")
	span(id="total-title")= "Total: "
	span(id="total-amount")= cartTotal